body{
    /* background-color: cyan; */
    height: 100vh;
    display: flex;
    
}

.container{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    flex-grow: 1;
}

.header{
    flex-grow: 1;
    /* border: 2px solid red; */
    background-color: #2F2D3F;
}

.app-container{
    flex-grow: 5;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.footer{
    flex-grow: 1;
    /* border: 2px solid red; */
    background-color: #2F2D3F;
}

.message-app{
    /* border: 5px solid yellow; */
    flex-grow: 3;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
}

.app-col{
    /* border: 2px solid orangered; */
    flex-grow: 8;
    background-color: #2F2D3F;
}
.status-bar{
    background-color: rgb(254, 110, 110);
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.message{
    background-color: rgb(3, 18, 84);
    flex-grow: 5;
}

.message-typing{
    background-color: rgb(3, 18, 84);
    flex-grow: 1;

}

.status-bar-two{
    /* border: 2px solid black; */
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.status-bar-one{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle{
    border: 3px solid white;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    

}